{% extends "base_page.html" %}
{% load static %}
    {% block head %}
        <title> Wykres prędkości od czasu </title>
        <link rel = "stylesheet" href = "{% static 'aChart_style.css' %}">
    {% endblock %}

    {% block body %}
        <h2> Wykres prędkości od czasu </h2>

        <form method="POST">
            {% csrf_token %}
            <input type="number" name="amplituda" placeholder="amplituda">
            <input type="number" name="okres_drgan" placeholder="okres drgan">
            <input type="number" name="faza" placeholder="faza_poczatkowa">
            <input type="submit">
        </form>
        {% if chart %}
            <img src="{{ chart }}">
        {% endif %}
    {% endblock %}