{% load static %}
<!DOCTYPE html>
<html lang="pl">
<html>
    <head>
        <meta charset="UTF-8">
        <link rel = "stylesheet" href = "{% static 'base_style.css' %}">
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <header>
            <a class = "title" href="{% url 'home' %}"> FIZYKA </a>
        </header>

        {% block body %}
        {% endblock %}

        {% if error %}
            <div class = "error">
                <h3> Wprowadziłeś błędne dane! </h3>
            </div>
        {% endif %}

        <footer></footer>
    </body>
</html>