<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ s }}">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="number" name="amplituda" placeholder="amplituda">
        <input type="number" name="okres_drgan" placeholder="okres drgan">
        <input type="number" name="czas" placeholder="czas">
        <input type="number" name="faza" placeholder="faza_poczatkowa">
        <input type="submit">
    </form>
    {% if x and v and a %}
        <p> x = {{ x }} </p>
        <p> v = {{ v }} </p>
        <p> a = {{ a }} </p>
    {% endif %}
</body>
</html>