{% extends "base_page.html" %}
{% load static %}
    {%  block head %}
        <title> Obiczanie wychylenia, przyspieszenia i prędkości </title>
        <link rel="stylesheet" href="{{ s }}">
    {% endblock %}

    {% block body %}
        <div class = "main">
            <div class = "else">
                <h2> Obiczanie wychylenia, przyspieszenia i prędkości </h2>
                <form method="POST">
                    {% csrf_token %}
                    <input type="number" name="amplituda" placeholder="Amplituda" class = "inputs">
                    <input type="number" name="okres_drgan" placeholder="Okres drgań" class = "inputs">
                    <input type="number" name="czas" placeholder="Czas" class = "inputs">
                    <input type="number" name="faza" placeholder="Faza początkowa" class = "inputs">
                    <input type="submit" class = "press" value = "Oblicz">
                </form>
            </div>

            <div class = "values">
                {% if x and v and a %}
                    <p> x = {{ x }} </p>
                    <p> v = {{ v }} </p>
                    <p> a = {{ a }} </p>
                {% endif %}
            </div>
        </div>
    {% endblock %}