{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Ruch drgający</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="number" name="amplituda" placeholder="amplituda">
        <input type="number" name="okres_drgan" placeholder="okres drgan">
        <input type="number" name="faza" placeholder="faza_poczatkowa">
        <input type="submit">
    </form>
    {% if chart %}
        <img src="{{ chart }}">
    {% endif %}
</body>
</html>