{% extends "base_page.html" %}
{% load static %}

    {% block head %}
        <title> Wykres prędkości od czasu </title>
    {% endblock %}

    {% block body %}
        <div class = "main">
            <div class = "else">
                <h2> Wykres prędkości od czasu </h2>
                <form method="POST">
                    {% csrf_token %}
                    <input type="number" name="amplituda" placeholder="Amplituda" class = "inputs">
                    <input type="number" name="okres_drgan" placeholder="Okres drgań" class = "inputs">
                    <input type="number" name="faza" placeholder="Faza początkowa" class = "inputs">
                    <input type="submit" class = "press" value = "Oblicz">
                </form>
            </div>

            <div class = "photo">
                {% if chart %}
                    <img src="{{ chart }}">
                {% endif %}
            </div>
        </div>
    {% endblock %}